h1 {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: #59cc78;
}

input[type="submit"] {
  background-color: #786faa;
}

input[type="reset"] {
  background-color: #F74F4F;
}